@media screen and (max-width: 940px) {
    .card {
        width: calc(100% - 20px);
    }
    .grid-sizer {
        width: 100%;
    }
}

@media screen and (min-width: 941px) and (max-width: 1280px) {
    .card {
        width: calc(50% - 20px);
    }
    .grid-sizer {
        width: 50%;
    }
    .card.full-width {
        width: calc(100% - 20px);
    }
}

@media screen and (min-width: 1281px) {
    .card {
        width: calc(33.3% - 20px);
    }
    .grid-sizer {
        width: 33.3%;
    }
    .card.full-width {
        width: calc(100% - 20px);
        ;
    }
}

body {
    background-color: rgb(238, 238, 238);
}

.card {
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}